@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7fb;
  color: #0f172a;
  font-family: "SFMono-Regular", "JetBrains Mono", ui-monospace, Menlo, Consolas, "Liberation Mono", monospace;
}
